<!DOCTYPE html>
<html>
  <head>
    <title>ContactManagerApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1 class ="headline">Contact Manager App <span>BETA</span> </h1>
    <%= yield %>
  </body>
</html>
